<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="javascript:void(0)"><img src="assets/icon/neko.png" width="48" height="48"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">Vender</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">Lucros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">Relatório</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
